<div class="fullpage">
    <div class="row">
      <div class="col-6">
        <button routerLink="vdo1" >
        <img src="../assets/images (2).jpeg" alt="">
      </button>
    </div>
      <div class="col-6">
        <button routerLink="vdo2">
          <img src="../assets/images (1).jpeg" alt="">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button routerLink="vdo3">
          <img src="../assets/images.jpeg" alt="">
        </button>
      </div>
      <div class="col-6">
        <button routerLink="vdo4">
          <img src="../assets/images (3).jpeg" alt="">
         
        </button>
      </div>
    </div>
  </div>

  
  <!-- <div class="sam2">
    <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>
  </div>
    <span class="sam1" *ngIf="(action.data.value)['data'] == 'https://insider.in/bingo-46-nov-nov3-2022/event' ">hiiiiiiii</span>
  <span  >{{ (action.data.value)['data'] }}</span>
<span *ngIf="(action.data.value)['data'] == 'https://insider.in/bingo-46-nov-nov3-2022/event' ">hiiiiiiii</span>
<span *ngIf="(action.data.value)['data'] == 'http://en.m.wikipedia.org' ">byee</span>

<p *ngIf="action.isLoading">⌛ Loading...</p>
<button (click)="action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button> -->